@import url('https://fonts.googleapis.com/css?family=Open+Sans|Satisfy&display=swap');

/********** navbar *********/
.logo {
    
    margin-top: 20px;
}
.navbar{
    
    height:115px;
    background-color:#272727;
}
.fixed-header{
    position:fixed;
    z-index: 2;
    width:100%;
}
.my-menu{
    /* margin-top: -60px; */
}
.my-menu .navbar-default{
    background: none;
    border: none;
}
.my-menu .navbar-nav .active a , .my-menu .navbar-nav .active a:hover{
    background-color: #009999;
    color: white;
}
.my-menu .navbar-nav li a:hover{
    background-color: #009999;
    color: white;
}

/********** navbar *********/